@charset "UTF-8";

*{
    text-align: center;
}
body{
    background-color: aquamarine;
}
section#desres{
    background-color:aliceblue;
    border-radius: 20px;
    height: 500px;
    max-width: 500px;
    margin: auto;
}
h2{
    padding-top: 10px;
}